# r files
.RData
.Rhistory

# folder content
csv/emoticon_conversion_noGraphic.csv
csv/fb-sa-210305.csv
log/*
src/*
!src/emo-readme.md
!src/emo-sentiment.ipynb
!src/readme.md
tmp/*
!tmp/column-match.txt

# keep empty dir
!log/.gitkeep
!src/.gitkeep
!tmp/.gitkeep


